In [49]:
import sqlalchemy as db
import pandas as pd
import numpy as np


path = "/home/radwa/Radwa.Usecase/Landing/Brands/brands.csv"

df_brands = pd.read_csv(path)

In [50]:
df_brands.isnull().sum()

brand_id        0
brand_name      0
Extract_time    0
Source          0
dtype: int64

In [51]:
df_brands.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand_id      9 non-null      int64
 1   brand_name    9 non-null      object
 2   Extract_time  9 non-null      object
 3   Source        9 non-null      object
dtypes: int64(1), object(3)
memory usage: 416.0+ bytes

In [52]:
df_brands.shape

(9, 4)

In [53]:
df_brands_final = df_brands.drop_duplicates()

In [54]:
df_brands_final

   brand_id    brand_name                Extract_time    Source
0         1       Electra  2024-05-02 11:57:30.173092  Datalake
1         2          Haro  2024-05-02 11:57:30.173092  Datalake
2         3        Heller  2024-05-02 11:57:30.173092  Datalake
3         4   Pure Cycles  2024-05-02 11:57:30.173092  Datalake
4         5       Ritchey  2024-05-02 11:57:30.173092  Datalake
5         6       Strider  2024-05-02 11:57:30.173092  Datalake
6         7  Sun Bicycles  2024-05-02 11:57:30.173092  Datalake
7         8         Surly  2024-05-02 11:57:30.173092  Datalake
8         9          Trek  2024-05-02 11:57:30.173092  Datalake

In [55]:
import os

csv_path = "/home/radwa/Radwa.Usecase/staging_1/Brands/brands.csv" 

directory = os.path.dirname(csv_path)
if not os.path.exists(directory):
    os.makedirs(directory)
    
df_brands_final.to_csv(csv_path, index=False)