In [9]:
import sqlalchemy as db
import pandas as pd
import numpy as np


path = "/home/radwa/Radwa.Usecase/Landing/Categories/categories.csv"

df_categories = pd.read_csv(path)

In [10]:
df_categories.isnull().sum()

category_id      0
category_name    0
Extract_time     0
Source           0
dtype: int64

In [11]:
df_categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category_id    7 non-null      int64
 1   category_name  7 non-null      object
 2   Extract_time   7 non-null      object
 3   Source         7 non-null      object
dtypes: int64(1), object(3)
memory usage: 352.0+ bytes

In [12]:
df_categories.shape

(7, 4)

In [13]:
df_categories_final = df_categories.drop_duplicates()

In [14]:
df_categories_final

   category_id        category_name                Extract_time    Source
0            1    Children Bicycles  2024-05-02 11:57:30.762744  Datalake
1            2     Comfort Bicycles  2024-05-02 11:57:30.762744  Datalake
2            3    Cruisers Bicycles  2024-05-02 11:57:30.762744  Datalake
3            4  Cyclocross Bicycles  2024-05-02 11:57:30.762744  Datalake
4            5       Electric Bikes  2024-05-02 11:57:30.762744  Datalake
5            6       Mountain Bikes  2024-05-02 11:57:30.762744  Datalake
6            7           Road Bikes  2024-05-02 11:57:30.762744  Datalake

In [15]:
import os

csv_path = "/home/radwa/Radwa.Usecase/staging_1/Categories/categories.csv" 

directory = os.path.dirname(csv_path)
if not os.path.exists(directory):
    os.makedirs(directory)
    
df_categories_final.to_csv(csv_path, index=False)