In [23]:
import sqlalchemy as db
import pandas as pd
import numpy as np


path = "/home/radwa/Radwa.Usecase/Landing/Staffs/staffs.csv"

df_staffs = pd.read_csv(path)

In [24]:
df_staffs.isnull().sum()

staff_id        0
first_name      0
last_name       1
email           1
phone           2
active          0
store_id        1
manager_id      1
Extract_time    0
Source          0
dtype: int64

In [25]:
df_staffs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   staff_id      10 non-null     int64
 1   first_name    10 non-null     object
 2   last_name     9 non-null      object
 3   email         9 non-null      object
 4   phone         8 non-null      object
 5   active        10 non-null     int64
 6   store_id      9 non-null      float64
 7   manager_id    9 non-null      float64
 8   Extract_time  10 non-null     object
 9   Source        10 non-null     object
dtypes: float64(2), int64(2), object(6)
memory usage: 928.0+ bytes

In [26]:

df_staffs_phones = "unknown"

df_staffs['phone'].fillna(df_staffs_phones, inplace=True)

In [27]:

df_staffs_name = "unknown"

df_staffs['last_name'].fillna(df_staffs_name, inplace=True)

In [28]:

df_staffs_email = "unknown"

df_staffs['email'].fillna(df_staffs_email, inplace=True)

In [29]:
df_staffs.dropna(axis = 0 , inplace=True )

In [30]:
df_staffs.shape

(9, 10)

In [31]:
df_staffs_final = df_staffs.drop_duplicates()

In [32]:
df_staffs_final

,staff_id,first_name,last_name,email,phone,active,store_id,manager_id,Extract_time,Source
1,2,Mireya,unknown,mireya.copeland@bikes.shop,(831) 555-5555,1,1.0,1.0,2024-05-02 11:57:32.391751,Datalake
2,3,Genna,Serrano,genna.serrano@bikes.shop,(831) 555-5556,1,1.0,2.0,2024-05-02 11:57:32.391751,Datalake
3,4,Virgie,Wiggins,virgie.wiggins@bikes.shop,(831) 555-5557,1,1.0,2.0,2024-05-02 11:57:32.391751,Datalake
4,5,Jannette,David,jannette.david@bikes.shop,(516) 379-4444,1,2.0,1.0,2024-05-02 11:57:32.391751,Datalake
5,6,Marcelene,Boyer,unknown,(516) 379-4445,1,2.0,5.0,2024-05-02 11:57:32.391751,Datalake
6,7,Venita,Daniel,venita.daniel@bikes.shop,unknown,1,2.0,5.0,2024-05-02 11:57:32.391751,Datalake
7,8,Kali,Vargas,kali.vargas@bikes.shop,(972) 530-5555,1,3.0,1.0,2024-05-02 11:57:32.391751,Datalake
8,9,Layla,Terrell,layla.terrell@bikes.shop,(972) 530-5556,1,3.0,7.0,2024-05-02 11:57:32.391751,Datalake
9,10,Bernardine,Houston,bernardine.houston@bikes.shop,(972) 530-5557,1,3.0,7.0,2024-05-02 11:57:32.391751,Datalake

In [33]:
import os

csv_path = "/home/radwa/Radwa.Usecase/staging_1/Staffs/staffs.csv" 

directory = os.path.dirname(csv_path)
if not os.path.exists(directory):
    os.makedirs(directory)
    
df_staffs_final.to_csv(csv_path, index=False)