In [9]:
import sqlalchemy as db
import pandas as pd
import numpy as np


path = "/home/radwa/Radwa.Usecase/Landing/Stocks/stocks.csv"

df_stocks = pd.read_csv(path)

In [10]:
df_stocks.isnull().sum()

store_id        0
product_id      0
quantity        0
Extract_time    0
Source          0
dtype: int64

In [11]:
df_stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 939 entries, 0 to 938
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   store_id      939 non-null    int64
 1   product_id    939 non-null    int64
 2   quantity      939 non-null    int64
 3   Extract_time  939 non-null    object
 4   Source        939 non-null    object
dtypes: int64(3), object(2)
memory usage: 36.8+ KB

In [12]:
df_stocks.shape

(939, 5)

In [13]:
df_stocks_final = df_stocks.drop_duplicates()

In [14]:
df_stocks_final

     store_id  product_id  quantity                Extract_time    Source
0           1           1        27  2024-05-02 11:57:32.803531  Datalake
1           1           2         5  2024-05-02 11:57:32.803531  Datalake
2           1           3         6  2024-05-02 11:57:32.803531  Datalake
3           1           4        23  2024-05-02 11:57:32.803531  Datalake
4           1           5        22  2024-05-02 11:57:32.803531  Datalake
..        ...         ...       ...                         ...       ...
934         3         309        30  2024-05-02 11:57:32.803531  Datalake
935         3         310         8  2024-05-02 11:57:32.803531  Datalake
936         3         311        23  2024-05-02 11:57:32.803531  Datalake
937         3         312        18  2024-05-02 11:57:32.803531  Datalake
938         3         313         0  2024-05-02 11:57:32.803531  Datalake

[939 rows x 5 columns]

In [15]:
import os

csv_path = "/home/radwa/Radwa.Usecase/staging_1/Stocks/stocks.csv" 

directory = os.path.dirname(csv_path)
if not os.path.exists(directory):
    os.makedirs(directory)
    
df_stocks_final.to_csv(csv_path, index=False)