In [13]:
import sqlalchemy as db
import pandas as pd
import numpy as np


path = "/home/radwa/Radwa.Usecase/Landing/Stores/stores.csv"

df_stores = pd.read_csv(path)

In [14]:
df_stores.isnull().sum()

store_id        0
store_name      0
phone           0
email           1
street          0
city            0
state           0
zip_code        1
Extract_time    0
Source          0
dtype: int64

In [15]:
df_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   store_id      3 non-null      int64
 1   store_name    3 non-null      object
 2   phone         3 non-null      object
 3   email         2 non-null      object
 4   street        3 non-null      object
 5   city          3 non-null      object
 6   state         3 non-null      object
 7   zip_code      2 non-null      float64
 8   Extract_time  3 non-null      object
 9   Source        3 non-null      object
dtypes: float64(1), int64(1), object(8)
memory usage: 368.0+ bytes

In [16]:

df_stores_zip_code = "00000.0"

df_stores['zip_code'].fillna(df_stores_zip_code, inplace=True)

In [17]:
df_stores_email = "unknown"

df_stores['email'].fillna(df_stores_email, inplace=True)

In [18]:
df_stores.shape

(3, 10)

In [19]:
df_stores_final = df_stores.drop_duplicates()

In [20]:
df_stores_final

,store_id,store_name,phone,email,street,city,state,zip_code,Extract_time,Source
0,1,Santa Cruz Bikes,(831) 476-4321,unknown,3700 Portola Drive,Santa Cruz,CA,00000.0,2024-05-02 11:57:33.237966,Datalake
1,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432.0,2024-05-02 11:57:33.237966,Datalake
2,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088.0,2024-05-02 11:57:33.237966,Datalake

In [21]:
import os

csv_path = "/home/radwa/Radwa.Usecase/staging_1/Stores/stores.csv" 

directory = os.path.dirname(csv_path)
if not os.path.exists(directory):
    os.makedirs(directory)
    
df_stores_final.to_csv(csv_path, index=False)